---
import ProfileImage from "./ProfileImage.astro";
import Social from "./Social.astro";

import { ME } from "@/config";
const { name, profession, tagline } = ME;
---

<div class="w-full flex items-center justify-start mt-5">
  <div class="flex items-center gap-6 w-full">
    <div class="border-[3px] border-primary-light dark:border-primary-dark p-1.5 rounded-full">
      <ProfileImage />
    </div>

    <div class="profile-info flex flex-col gap-2 w-full">
      <div class="info">
        <h1 class="text-xl md:text-2xl lg:text-4xl xl:text-4xl text-zinc-50">
          {name}
        </h1>
        <p class="text-sm text-zinc-300">
          {profession}
        </p>

        <!-- Tagline bien visible -->
        <p class="text-sm md:text-base text-yellow-300 font-semibold mt-1">
          {tagline}
        </p>
      </div>

      <Social />
    </div>
  </div>
</div>
