---
import { Icon } from "astro-icon/components";

interface SkillCardProps {
  icon: string;
  name: string;
  description: string;
  showDescription?: boolean;
}

const {
  icon,
  name,
  description,
  showDescription = true,
} = Astro.props as SkillCardProps;
---

<div
  class={`flex flex-col rounded-xl p-4 bg-white text-n700 dark:bg-n700 dark:text-n100 shadow-sm ${
    showDescription ? "gap-2 h-full items-start" : "gap-3 h-28 items-center justify-center text-center"
  }`}
>
  <div class={showDescription ? "w-10 h-10 mb-1" : "w-10 h-10"}>
    <Icon
      width={40}
      height={40}
      name={icon}
      class="text-primary-light dark:text-primary-dark"
    />
  </div>

  <h3
    class={`font-semibold tracking-tight ${
      showDescription ? "text-base" : "text-sm"
    }`}
  >
    {name}
  </h3>

  {showDescription && (
    <p class="mt-1 text-xs leading-snug text-n600 dark:text-n300">
      {description}
    </p>
  )}
</div>
