---
import { Icon } from "astro-icon/components";
import { SOCIALS } from "@/config";
---

<div class="flex gap-3 md:gap-4">
  {SOCIALS.map((network) => (
    <a
      href={network.url}
      target="_blank"
      rel="noreferrer"
      aria-label={`${network.name} link`}
      class="text-xl md:text-2xl text-zinc-100 hover:text-yellow-300 rounded-md p-1 transition-colors"
    >
      <Icon name={network.icon} class="w-6 h-6" />
    </a>
  ))}
</div>
